*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


/* HEADER */

.header { 
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  }

  .header_inner {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }
  
  /* NAVIGATION */

  .nav {
    font-size: 15px;
  }

  .nav_links {
    color: #ffffff;
    text-decoration: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav_link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    color: #5d5d5e;
    margin: 0px 6px 0 30px;
    font-weight: 500;
  }

  .nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4195fcd2;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opasity 0.1s linear;
  }

  .nav_link:hover {
    color: #000;
  }

  .nav_link:hover::after {
    opacity: 1;
  }

  .nav_btn {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0 20px;
    padding: 0px;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
  }

 .sign_in {
  background-image: linear-gradient(to right, #3a9ef7, #10d7d7);
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid rgba(228, 226, 226, 0.438);
}


.sign_up {
  color: #ffffff;
  background-image: linear-gradient(to right, #3a9ef7, #10d7d7);
  border: none;
}

/* BURGER MENU */

.burger {
  margin: 20px;
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #3a9ef7;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
  .body{
    overflow-x: hidden; 
  }
  .header_logo {
    margin: 0 0 0 100px;
    color: #ffffff;
  }
  .nav_links {
    position: absolute;
    right: 0;
    top: 3vh;
    background-color: #ffffff;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 110px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav_btn {
    margin: 0px 0px 0 20px;
    padding: 0px;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 500;
    cursor: pointer;
  }

  .sign_in {
    border-color: #3a9ef7;
  }

  .burger {
    display: block;
  }
}

.nav_active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from {
  opacity: 0;
  transform: translateX(50px);
  }
  to {
  opacity: 1;
  transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* SIGN UP MODAL */

input[type=email], input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #fffefe;
  border: 1px solid #ddd;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signupbtn {
  background-color: rgb(39, 167, 253);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #e7e4e4;
  color: rgb(168, 164, 164);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.signup_container {
  margin: 60px 60px 60px 60px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #ffffff;
  margin: 5% auto 15% auto; 
  width: 60%; 
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.right_bg_block {
  background: url("../img/bb.png") center no-repeat 
  / cover; 
  width: 700px;
  height: 800px; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.signup_h {
  font-size: 50px;
  color: #8bdafa;
}

.sign-in-link {
  text-decoration: none;

}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
.close {
  color: rgb(6, 173, 250);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


/* INTRO */

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background: url("../img/intro_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
}


.intro_inner {
  position: relative;
    top: 250px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}


.intro_title {

  width: 90px;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  white-space: pre-line;
  line-height: 1.1;
  z-index: 2;

}

.intro p {
  padding: 20px 0;
  width: 300px;
  color: #ffffff;
  font-weight: 200;
  z-index: 2;
}

.intro_btn {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 0 20px;
  padding: 0px;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.download {
  color: #3a9ef7;
    border-radius: 4px;
    margin: 0px 50px 0 0px;
    padding: 12px 30px;
    font-weight: 700;
    z-index: 2
}


/* FEATURES */

.features {
  position: relative;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 900px;
  background: url("../img/f_bg.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  z-index: -2;
}

.features_title {
  font-size: 30px;
  font-weight: 900;
  color: #07222f;
  margin: 5px 0;
  white-space: pre-line;
  line-height: 1.1;
  z-index: 2;
}

.shape {
  position: absolute;
  height: 155px;
  width: 155px;
  background-color: #eef5ff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: -1;
  margin: 0px 50px 50px 80px;
}

.f_icon1, .f_icon2, .f_icon3 {
  z-index: 2;
  margin: 40px 0px 50px 115px;
}

.features_heading {
  text-align: center;
  padding: 100px;
}

.fd {
  display: flex;
  flex-direction: row;
}

.fd p {
  line-height: 1.3;
  color: #07222f;
  text-align: center;
}

.fd h4 {
  line-height: 1.3;
  color: #23a4e4;
  text-align: center;
}

.features_descript1 {
  flex: 1;
}

.features_descript2 {
  flex: 1;
}

.features_descript3 {
  flex: 1;
}


/*
.services {
  display: flex;
  flex-direction: row;
}

.services_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 1.3;
  color: #07222f;
}

.services_h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.services_description p {
  padding: 20px 0;
  width: 300px;
  font-weight: 200;
  z-index: 2;
  text-align: center;
  color: #027f88;
}

.shape {
  position: relative;
  height: 155px;
  width: 155px;
  background-color: #eef5ff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
  z-index: -1;
}

.features_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  z-index: 1;
  justify-content: space-around;
  margin: 0px 0px -170px 0;
  
}
*/
/* OPTIONS */

.options {
  display: flex;
  flex-direction: row;
}

.data_analysis {
  align-content: center;
  margin: 100px 90px 0 0;
}

.data_analysis_image {
  float: right;
  margin: 100px 50px 0 0;
}


.data_analysis h4 { 
  max-width: 400px;
font-size: 30px;
font-weight: 900;
color: #07222f;
white-space: pre-line;
line-height: 1.3;
margin: 100px 0px 0px 0px;
}

.data_analysis p { 
  color: #39393a;
  margin: 5px 0;
  white-space: pre-line;
  line-height: 1.3;
  
}

  .online_chatting {
    display: flex;
    flex-direction: row;
  }

  .chatting_image {
    float: left;
    margin: 20px 0px 0px 250px;
  }

  .chatting_image img {
    width: 550px;
    height: 550px;
    margin: 0 0 0 0px;
  }

 .chatting_description h4 {
  max-width: 1200px;
    font-size: 30px;
    font-weight: 900;
    color: #07222f;
    margin: 140px 0 0 0px;
    white-space: pre-line;
    line-height: 1.3;
  }

  .chatting_description p {
    max-width: 1100px;
    max-height: 100px;
    color: #39393a;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 1.3;
  }

  /* WORK FIELDS */

  .work_fields {
  position: relative;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 1500px;
  background: url("../img/wfields_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  z-index: -2;
  }

.work_icons {
    position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  z-index: 1;
  justify-content: space-around;
  
  }

  .w_title {
    text-align: center;
  padding: 300px 0 20px 0;
  }

  .w_title h3 {
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }

  .w_title p {
    font-weight: 500;
    color: #ffffff;
    margin: 5px 0;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }

  .work_h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
  }

  .work_h h4 {
    margin: 0px 0 7px 0;
  }

  .work_h p {
    padding: 20px;
    width: 300px;
    font-weight: 200;
    z-index: 2;
  }
  .work_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    line-height: 1.3;
    color: #ffffff;
  }

  .work_description  p {
    text-align: center;
    max-width: 250px;
    max-height: 100px;
    line-height: 1.3;
  }

  /* LOGOS */

  .logos {
    position: relative;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 800px;
    
    }

    .logos_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: #ffffff;
      margin: 15px 0px 50px 0px;
    }

    .logos_title h3 {
      font-size: 30px;
      font-weight: 900;
      color: #464444;
      white-space: pre-line;
      line-height: 1.1;
      
    }

    .logos_icons {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
      cursor: pointer;
    }

    .logos_icons img{
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

  .logos_icons img:hover{
    filter: none;
}

/* FOOTER */

.footer {
  position: relative;
  padding: 130px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 230px;
  background: url("../img/footer_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  
}

.footer_logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 0px 0px;
}


.footer_links {
  color: #ffffff;
    text-decoration: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_link {
  position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    margin: 0px 6px 0 30px;
    font-weight: 500;
}

.footer_link:hover {
  color: rgba(37, 37, 37, 0.952);
}

.footer_link:hover::after {
  opacity: 1;
}

.footer img {
  margin: 0 -25px 0 15px;
}



