*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

/* container */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


/* header */

.header { 
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  }

  .header_inner {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }
  
  /* navigation */

  .nav {
    font-size: 15px;
  }

  .nav_links {
    color: #ffffff;
    text-decoration: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav_link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    color: #5d5d5e;
    margin: 0px 6px 0 30px;
    font-weight: 500;
  }

  .nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4195fcd2;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opasity 0.1s linear;
  }

  .nav_link:hover {
    color: #000;
  }

  .nav_link:hover::after {
    opacity: 1;
  }

  .nav_btn {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0 20px;
    padding: 0px;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
  }

.sign_in {
  background-image: linear-gradient(to right, #3a9ef7, #10d7d7);
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid rgba(228, 226, 226, 0.438);
}


.sign_up {
  color: #ffffff;
  background-image: linear-gradient(to right, #3a9ef7, #10d7d7);
  border: none;
}

/* burger menu */
.burger {
  margin: 20px;
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #3a9ef7;
  margin: 5px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 768px){
  .body{
    overflow-x: hidden; 
  }
  .intro_inner {
    
  }
  .header_logo {
    margin: 0 0 0 100px;
    color: #ffffff;
  }
  .nav_links {
    position: absolute;
    right: 0;
    top: 3vh;
    background-color: #ffffff;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 110px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav_links li {
    
  }
  .nav_btn {
    margin: 0px 0px 0 20px;
    padding: 0px;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 500;
    cursor: pointer;
    
  }

  .sign_in {
    border-color: #3a9ef7;
    
  }
  .sign_up {
  
    
  }
  .burger {
    display: block;
  }
}


.nav_active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from {
  opacity: 0;
  transform: translateX(50px);
  }
  to {
  opacity: 1;
  transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* sign up modal form */

input[type=email], input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.sign-in-link {
  text-decoration: none;

}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
.close {
  position: relative;
  right: 385px;
  top: 175px;
  font-size: 40px;
  font-weight: bold;
  color: #251f1f;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


/* intro */

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background: url("img/intro_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
}


.intro_inner {
  position: relative;
    top: 250px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}


.intro_title {

  width: 90px;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  white-space: pre-line;
  line-height: 1.1;
  z-index: 2;

}

.intro p {
  padding: 20px 0;
  width: 300px;
  color: #ffffff;
  font-weight: 200;
  z-index: 2;
}

.intro_btn {
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 0 20px;
  padding: 0px;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.download {
  color: #3a9ef7;
    border-radius: 4px;
    margin: 0px 50px 0 0px;
    padding: 12px 30px;
    font-weight: 700;
    z-index: 2
}
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

/* The Close Button */
.close {
  color: rgb(6, 173, 250);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* features */

.features {
  position: relative;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background: url("img/f_bg.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  z-index: -2;
}

.features_title {
  font-size: 30px;
  font-weight: 900;
  color: #07222f;
  margin: 5px 0;
  white-space: pre-line;
  line-height: 1.1;
  z-index: 2;
}


.features_heading {
  text-align: center;
  padding: 100px;
}

.services {
  display: flex;
  flex-direction: row;
}

.services_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 1.3;
  color: #07222f;
}

.services_h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.services_description p {
  padding: 20px 0;
  width: 300px;
  font-weight: 200;
  z-index: 2;
  text-align: center;
  color: #027f88;
}

.shape {
  position: relative;
  height: 155px;
  width: 155px;
  background-color: #eef5ff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
  z-index: -1;
}

.features_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  z-index: 1;
  justify-content: space-around;
  margin: 0px 0px -170px 0;
  
}

/* options */

.options {
  display: flex;
  flex-direction: row;
}

.data_analysis {
  align-content: center;
  margin: 100px 90px 0 0;
}

.data_analysis_image {
  float: right;
  margin: 100px 50px 0 0;
}


.data_analysis h4 { 
  max-width: 400px;
font-size: 30px;
font-weight: 900;
color: #07222f;
white-space: pre-line;
line-height: 1.3;
margin: 100px 0px 0px 0px;
}

.data_analysis p { 
  color: #39393a;
  margin: 5px 0;
  white-space: pre-line;
  line-height: 1.3;
  
}

  .online_chatting {
    display: flex;
    flex-direction: row;
  }

  .chatting_image {
    float: left;
    margin: 20px 0px 0px 250px;
  }

  .chatting_image img {
    width: 550px;
    height: 550px;
    margin: 0 0 0 0px;
  }

 .chatting_description h4 {
  max-width: 1200px;
    font-size: 30px;
    font-weight: 900;
    color: #07222f;
    margin: 140px 0 0 0px;
    white-space: pre-line;
    line-height: 1.3;
  }

  .chatting_description p {
    max-width: 1100px;
    max-height: 100px;
    color: #39393a;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 1.3;
  }

  /* work fields */

  .work_fields {
  position: relative;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 1500px;
  background: url("img/wfields_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  z-index: -2;
  }

  .work_icons {
    position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  z-index: 1;
  justify-content: space-around;
  
  }

  .w_title {
    text-align: center;
  padding: 300px 0 20px 0;
  }

  .w_title h3 {
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }

  .w_title p {
    font-weight: 500;
    color: #ffffff;
    margin: 5px 0;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }

  .work_h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
  }

  .work_h h4 {
    margin: 0px 0 7px 0;
  }

  .work_h p {
    padding: 20px;
    width: 300px;
    font-weight: 200;
    z-index: 2;
  }
  .work_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    line-height: 1.3;
    color: #ffffff;
  }

  .work_description  p {
    text-align: center;
    max-width: 250px;
    max-height: 100px;
    line-height: 1.3;
  }

  /* logos */

  .logos {
    position: relative;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 800px;
    
    }

    .logos_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: #ffffff;
    }

    .logos_title h3 {
      font-size: 30px;
      font-weight: 900;
      color: #464444;
      margin: 15px 0;
      white-space: pre-line;
      line-height: 1.1;
      
    }

    .logos_icons {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 30px auto;
      justify-content: space-around;
      z-index: 1;
      cursor: pointer;
    }

    .logos_icons img{
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

  .logos_icons img:hover{
    filter: none;
}

/* footer */

.footer {
  position: relative;
  padding: 130px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 230px;
  background: url("img/footer_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  
}

.footer_logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 0px 0px;
}


.footer_nav {

}

.footer_links {
  color: #ffffff;
    text-decoration: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_link {
  position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    margin: 0px 6px 0 30px;
    font-weight: 500;
}

.footer_link:hover {
  color: rgba(37, 37, 37, 0.952);
}

.footer_link:hover::after {
  opacity: 1;
}

.footer img {
  margin: 0 -25px 0 15px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1080px){
  .intro_inner, .header_logo {
    margin: 0 auto 0 50px;
  }
  .intro_title {
    width: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }
  
  .intro p {
    padding: 20px 0;
    width: 300px;
    color: #ffffff;
    font-weight: 200;
    z-index: 2;
  }
}

/* iPad Pro */
@media screen and (max-width: 1024px) {
  .intro {
    height: 900px;
  }
  .intro_title {
    margin: 30px 0 0 0;
    font-size: 60px;
  }
  .intro p {
    font-size: 18px;
  }
  .features {
    height: 910px;
  }
  .features_heading h2 {
    font-size: 40px;
  }
  .features_heading p {
    font-size: 20px;
  }
  .services_h {
    font-size: 23px;
  }
  .services_description p {
    font-size: 20px;
  }
  .options {
    height: 650px;
  }
  .data_analysis {
    margin: 10px 30px 0 0;
  }
  .data_analysis p {
   font-size: 17px;
  }
  .chatting_description h4 {
    margin: 200px 0px 0px 0px;
  }
  .chatting_description p, .work_description p {
    font-size: 17px;
    max-width: 900px;
}
  .chatting_image {
    margin: 90px 0px 0px 50px;
  }
.work_fields {
  height: 1600px;
}
.w_title h3 {
  font-size: 35px;
}
 .work_h h4, .w_title p {
   font-size: 20px;
 }
 .footer_logo {
  margin: 0 0 0 30px;
 }
 
}

@media screen and (max-width: 940px){
  .header_logo {
    opacity: 0;
  }
}

@media screen and (max-width: 768px){
  .intro_title {
    margin: 30px 0 0 0;
    font-size: 45px;
  }
  .intro p {
    font-size: 20px;
  }
  .intro {
    height: 900px;
  }
  .features {
    height: 1000px;
  }
  .features_heading p {
    font-size: 20px;
  }
  .data_analysis {
    margin: 100px 30px 0 20px;
  }
  .work_h h4 {
   font-size: 23px;
  }
  .work_description p {
    font-size: 17px;
  }
  
  .data_analysis h4 {
    margin: 0 0 0 30px;
  }
  .data_analysis p {
    width: 300px;
    margin: 0 0 0 30px;
  }
  .data_analysis_image img {
    margin: 160px 0 0 0;
    width: 400px;
    height: 400px;
  }
  .chatting_description h4 {
    margin: 100px 30px 0 0px;
  }
  .chatting_image img {
    width: 400px;
    height: 400px;
  }
  .chatting_description p {
    margin: 0 30px 0 0;
    font-size: 17px;
  }
  .logos_title h3{
   font-size: 30px;
  }
  .footer {
    height: 230px;
  }
  .logos {
    height: 1000px;
  }
  .logos_icons {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 730px){
  .nav_links {
    width: 100%;
    height: 700px;
  }
  .intro {
    height: 720px;
  }
  .features {
    height: 1100px;
  }
  .data_analysis_image img {
    margin: 0 0 0 10px;
  }
  .data_analysis p {
    margin: 20px 0 0 30px;
  }
  .data_analysis_image {
    margin: 0 auto;
  }
  .chatting_description {
    margin: 200px 0 0 30px;
  }
  .chatting_image {
    display: none;
  }
  .work_icons {
    max-width: 200px;
    flex-direction: column;
    z-index: -10;
  }
  .w_icon1, .w_icon2, .w_icon3 {
    margin: 50px auto;
  }
  .work_h, .work_description {
  flex-direction: column;
  z-index: 10;
  top: 25%;
  left: 25%;
  }
  .work_h{
    
  }
  .work_h h4{
    color: rgb(7, 6, 6);
    z-index: 10;

  }
  .intro p {
    padding: 20px 0;
    width: 300px;
    color: #ffffff;
    font-weight: 200;
    z-index: 2;
  }
  
  /* Features mobile UI */
  .shape {
    width: 105px;
    height: 115px;
  }
  .f_icon1, .f_icon2, .f_icon3 {
    width: 60px;
    height: 60px;
    margin: 0px 0px 30px 0;
  }
  .options {
    display: inline-block;
  }
}

@media screen and (max-width: 360px){
  .intro_inner {
    margin: 0 0 0 20px;
    top: 150px;
  }
  .intro_title {
    font-size: 35px;
  }
  .intro p {
    font-size: 15px;
    width: 250px;
  }
  .intro {
    height: 650px;
  }
  .nav_links {
    padding: 90px;
    height: 650px;
  }
  .features {
    height: 1000px;
  }
  .features_icons {
    display: flex;
    flex-direction: column;
 }
 .services {
  display: flex;
  flex-direction: column;
 }
 .shape {
  width: 115px;
  height: 115px;
}
}