*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

/* container */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


/* header */

.header { 
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  }

  .header_inner {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }
  
  /* navigation */

  .nav {
    font-size: 15px;
    
  }

  .nav_links {
    color: #ffffff;
    text-decoration: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav_link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    color: #5d5d5e;
    margin: 0px 6px 0 30px;
    font-weight: 500;
  }

  .nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4195fcd2;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opasity 0.1s linear;
  }

  .nav_link:hover {
    color: #000;
  }

  .nav_link:hover::after {
    opacity: 1;
  }

  .nav_btn {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0 20px;
    padding: 0px;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
  }

.sign_in {
  background-image: linear-gradient(to right, #3a9ef7, #10d7d7);
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid rgba(228, 226, 226, 0.438);
}


.sign_up {
  color: #ffffff;
  background-image: linear-gradient(to right, #3a9ef7, #10d7d7);
  border: none;
}

/* intro */

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background: url("img/background.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
}


.intro_inner {
  position: absolute;
 top: 230px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}


.intro_title {

  width: 90px;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  white-space: pre-line;
  line-height: 1.1;
  z-index: 2;

}

.intro p {
  padding: 20px 0;
  width: 300px;
  color: #ffffff;
  font-weight: 200;
  z-index: 2;
}

.download {

  color: #3a9ef7;
    border-radius: 4px;
    margin: 0px 50px 0 0px;
    padding: 12px 30px;
    font-weight: 700;
    z-index: 2
}

.intro_image {
  position: relative;
  top: 150px;
  max-height: 900px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  float: right;
  
}


/* features */

.features {
  position: relative;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background: url("img/f_bg.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  z-index: -2;
}

.features_title {
  font-size: 30px;
  font-weight: 900;
  color: #07222f;
  margin: 5px 0;
  white-space: pre-line;
  line-height: 1.1;
  z-index: 2;
}


.features_heading {
  text-align: center;
  padding: 100px;
}

.services {
  display: flex;
  flex-direction: row;
}

.services_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 1.3;
  color: #07222f;
}

.services_h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.services_description p {
  padding: 20px 0;
  width: 300px;
  font-weight: 200;
  z-index: 2;
  text-align: center;
  color: #027f88;
}

.shape {
  position: relative;
  height: 155px;
  width: 155px;
  background-color: #eef5ff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
  z-index: -1;
}

.features_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  z-index: 1;
  justify-content: space-around;
  margin: 0px 0px -170px 0;
  
}

/* options */

.options {
  display: flex;
  flex-direction: row;
}

.data_analysis {
  align-content: center;
  margin: 250px 90px 0 0;
}

.data_analysis_image {
  float: right;
  margin: 100px 50px 0 0;
}


.data_analysis h4 { 
  max-width: 400px;
font-size: 30px;
font-weight: 900;
color: #07222f;
white-space: pre-line;
line-height: 1.3;
}

.data_analysis p { 
  color: #39393a;
  margin: 5px 0;
  white-space: pre-line;
  line-height: 1.3;
}

  .online_chatting {
    display: flex;
    flex-direction: row;
  }

  .chatting_image {
    float: left;
    margin: 20px 0 0 250px;
  }

 .chatting_description h4 {
    max-width: 1110px;
    font-size: 30px;
    font-weight: 900;
    color: #07222f;
    margin: 100px 0 0 0px;
    white-space: pre-line;
    line-height: 1.3;
  }

  .chatting_description p {
    max-width: 1150px;
    max-height: 100px;
    color: #39393a;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 1.3;
  }

  /* work fields */

  .work_fields {
  position: relative;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 200vh;
  background: url("img/wfields_bgr.png") center no-repeat 
  / cover;
  -webkit-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) , #f9fbff, rgb(225, 225, 225, 0)); */
  z-index: -2;
  }

  .work_icons {
    position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  z-index: 1;
  justify-content: space-around;
  
  }

  .w_title {
    text-align: center;
  padding: 200px 0 20px 0;
  }

  .w_title h3 {
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    margin: 15px 0;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }

  .w_title p {
    font-weight: 500;
    color: #ffffff;
    margin: 5px 0;
    white-space: pre-line;
    line-height: 1.1;
    z-index: 2;
  }

  .work_h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
  }

  .work_h h4 {
    margin: 0px 0 7px 0;
  }

  .work_h p {
    padding: 20px;
    width: 300px;
    font-weight: 200;
    z-index: 2;
  }
  .work_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    line-height: 1.3;
    color: #ffffff;
  }

  .work_description  p {
    text-align: center;
    max-width: 250px;
    max-height: 100px;
    line-height: 1.3;
  }